.container{
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    place-content: center;
}
.functions{
    display: flex;
    justify-content: space-between;
}